@import "mobile-gallery";

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;


// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }


.bg-grey { 
  background: linear-gradient( $white-bg, $smoke-bg);
}
.bg-sunset { 
  background: linear-gradient(#ffd9d6, #fff3e7);
}

.highlight-underline-primary {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='1px' height='1px' viewBox='0 0 1 1' preserveAspectRatio='none'%3E%3Crect x='0' y='0' width='1' height='1' fill='#{$primary-color-opacity}' /%3E%3C/svg%3E") no-repeat 100% 100%;
  background-size: 100% 50%;
}

.highlight-underline-info {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='1px' height='1px' viewBox='0 0 1 1' preserveAspectRatio='none'%3E%3Crect x='0' y='0' width='1' height='1' fill='#{$info-color-opacity}' /%3E%3C/svg%3E") no-repeat 100% 100%;
  background-size: 100% 50%;
}

.highlight-underline-success {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='1px' height='1px' viewBox='0 0 1 1' preserveAspectRatio='none'%3E%3Crect x='0' y='0' width='1' height='1' fill='#{$success-color-opacity}' /%3E%3C/svg%3E") no-repeat 100% 100%;
  background-size: 100% 50%;
}

.highlight-underline-warning {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='1px' height='1px' viewBox='0 0 1 1' preserveAspectRatio='none'%3E%3Crect x='0' y='0' width='1' height='1' fill='#{$warning-color-opacity}' /%3E%3C/svg%3E") no-repeat 100% 100%;
  background-size: 100% 50%;
}
.highlight-underline-danger {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='1px' height='1px' viewBox='0 0 1 1' preserveAspectRatio='none'%3E%3Crect x='0' y='0' width='1' height='1' fill='#{$danger-color-opacity}' /%3E%3C/svg%3E") no-repeat 100% 100%;
  background-size: 100% 50%;
}

html {
  scroll-behavior: smooth;
}

.navbar-at-top {
  background: linear-gradient(rgba(27,158,202, 1), rgba(27,158,202, 0.8)) !important;
  //box-shadow: none;
}
.sidebar-collapse .navbar-collapse:before {
      background: $info-color;
}


.nav-item a {
    font-size: $font-size-small !important;
}

// TEXT & FONTS

a {
      color:#de6f47;
}

.lead { 
  font-weight: $font-weight-normal;
}
.comment {
    font-weight: 400;
    font-style: bold;
    color:#486c7a;
}

.comment.dark {
        color: #e3cc8d !important;
}

.description { color: $light-black}

.info-title { font-weight: $font-weight-bold;}
.icon > img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.page-header {

    h1.title {
        font-size: 36px !important;
        line-height: 42px !important;
        margin-bottom: 0.66em !important;
        @include sm {
            font-size: 48px !important;
            line-height: 50px !important;
        }
        text-align: left !important;
        color: #fff !important;
        font-family: "Circular-Book",Helvetica Neue,Helvetica,Arial,sans-serif !important;
        font-weight: 400 !important;
    }

    h2.cashless_title {
        font-size: 60px !important;
        line-height: 68px !important;
        margin-top: 1em;
        text-align: left !important;
        color: #fff !important;
        font-family: "Circular-Book",Helvetica Neue,Helvetica,Arial,sans-serif !important;
        font-weight: 600 !important;
        font-variant-caps: all-petite-caps;;
        margin-top:180px;
        @include sm {
            margin-top:180px;
        }
        img {
            margin-top:-8px;
            margin-left:0px;
            height: 80px;
        }
    }

    h3 {
        text-align: left !important;
        color: #fff !important;
        font-weight: 500 !important;
        margin-left:8px; //112px;
        height: 80px;
    }
}

// [/TEXT & FONTS]
.team-player {
    .description {
        color: #383636;
    }
    margin-top: 80px;
}

@media screen and (max-width: 991px) {
  .navbar .container {
    max-width: 100%;
  }
}

.navbar-translate img {
    height: 14px;
    margin-right: 6px;
}
.overlay_panel {
    background: rgba(0,0,0,0.2);
    padding-left: 30px;
    padding-right: 30px;
}

/* page-header-video == VideoHeader */
.page-header-video  {
    position: relative;
    background-color: black;
    height: 120vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    position: absolute;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    z-index: -1;


    video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
}
  
[class*="features-"],
[class*="cashless-features"],
[class*="team-"],
[class*="projects-"],
[class*="pricing-"],
[class*="testimonials-"],
[class*="contactus-"]{
    padding: 40px 0;
}


/* features-3 == IntroRow */
.features-3 {
    .description {
        font-weight: 400
    }
    .icon i {
      line-height: 80px !important;
    }
}

/* how_it_works == HowTheApp */
.how_it_works {
    .info{
        max-width: none;
        margin: 0 auto;
        padding: 10px 0 0px;
        
        .icon i {
          line-height: 65px;
        }
    }
    .phone-container{
        margin: 5% auto 0;
    }
}
   

/* .contactus-1 == ContactUS */
.contactus-1 {
    
}


/* .current-status == CurrentStatus */
.current-status {
    &.section-image:after {
        background-color: rgba(255, 255, 255, .5);
    }
    .title { color:$default-color;}
}

.details {
  padding-top: 0px;
  padding-bottom: 0px;

}

/* .features-5 == Details / Gaurantees */
.features-5 {
  
  .card-body {
    p { font-size: $font-size-small;}
  }
  
  .differences {
    
    .info { 
      .description {
        opacity: 0.6;
        transition: all 200ms ease-in-out;
      }

      &:hover {
        .icon {
          background-color: $brand-primary;
          color: white;
        }
        .info-title {
          color: $brand-primary;
        }
        .description {
          opacity: 1;
        }
      }

    }  
  }

  .credit-lifecycle-steps {
    
    .info { 
      padding-left :80px;
      .icon { 
        position: absolute;
        margin: 0 0 0 -80px;
        transition: all 200ms ease-in-out;
        border: 1px solid $brand-primary;
        color:  $brand-primary;
        
        > i {
          line-height: 80px;
        }
      }
      .description {
        opacity: 0.6;
        transition: all 200ms ease-in-out;
      }
      
      &:before {  
        // vertical line
        content: "";
        display: block;
        width: 0;
        height: 100%;
        border-left: 10px solid $brand-primary;
        position: absolute;
        top: 15px;
        left: 35px;
        z-index: 0;
        animation: border-arrow-animation 1.5s infinite;
      }
      
      &:after {
        // down arrow
        content: "";
        display: block;
        width: 0; 
        height: 0; 
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid $brand-primary;
        position: absolute;
        top: -35px;
        left: 25px;
        z-index: 1;
        margin-top: 40px;
      }
              
      
      &:hover {
        .icon {
          background-color: $brand-primary;
          color: white;
        }
        .info-title {
          color: $brand-primary;
        }
        .description {
          opacity: 1;
        }
      
      }
  
      .alt-up-line {
        &:before {  
          // vertical line
          content: "";
          display: block;
          width: 0;
          height: calc(100% - 15px);
          border-left: 5px solid $success-color;
          position: absolute;
          left: 60px;
          z-index: 0;
          animation: border-arrow-animation 1.5s infinite;
          border-left-style: dotted;
          margin-top: 15px;
        }
        &:after {
          // up arrow
          content: "";
          display: block;
          width: 0; 
          height: 0; 
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 8px solid $success-color;
          position: absolute;
          top: 80px;
          left: 54px;
          z-index: 1;
        }
      }
      
      .alt-down-line {
        &:before {  
          // vertical line
          content: "";
          display: block;
          width: 0;
          height: calc(100% - 15px);
          border-left: 5px solid $default-color;
          position: absolute;
          left: 60px;
          z-index: 0;
          animation: border-arrow-animation 1.5s infinite;
          border-left-style: dotted;
          margin-top: 15px;
        }
      }
      
      .alt-down-arrow {
        &:before {
          // down arrow
          content: "";
          display: block;
          width: 0; 
          height: 0; 
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-top: 8px solid $default-color;
          position: absolute;
          top: 6px;
          left: 54px;
          z-index: 1;
    
        }
      }
    }  
  }
  
  // vertical lines and arrows finetuning
  .credit-lifecycle-steps {
    .row:first-child {
      .info:after { 
        display: none !important;
      }
    }
    .row:nth-child(2){
      .info:before { 
        animation-delay: 0.2s;
      }
    }
    .row:nth-child(3){
      .info:before {
        animation-delay: 0.5s;
      }
    }
    .row:last-child {
      .info:before {
        display: none;
      }
      
    } 
  }

  .cashless-cheque-container {
      margin: 50px auto 0;
      max-width: 560px;
  }

  .cashless-cycle-container {
      margin: 50px auto 0;
      max-width: 560px;
      
      @media screen and (min-width: 1024px) {
          max-width: 360px;
          margin: 40px auto 0;
      }

      @media screen and (max-width: $screen-md-min) {
          max-width: 360px;
          margin: 40px auto 0;
      }
  }
   
}

@keyframes border-arrow-animation {
  20% {
      opacity: 0.8;
  }
  50% {
      opacity: 0.5;
  }
  80% {
      opacity: 0.2;
  }
}




/* features-6 == WebOfThankyous */
.features-6 {

    .info{
        max-width: none;
        margin: 0 auto;
        padding: 10px 0 0px;
    }
    .info:first-child{
        padding-top: inherit;
    }

    .network-container{
        max-width: 300px;
        margin: 50px auto 0;
    
        @media screen and (min-width: 1024px) {
            max-width: 360px;
            margin: 40px auto 0;
        }

        @media screen and (max-width: $screen-md-min) {
            max-width: 360px;
            margin: 40px auto 0;
        }
    }
}

/* contributors = WhatCouldGoWrong */

.contributors {

}
.contributor-large,
.contributor-small {
  @extend .flip-container;
  display: flex;
  align-items: center;
  padding: $padding-simple-horizontal;
  flex-direction: column;
  
  > .row {align-items: center;}
  p {
    font-size: $font-size-small;
    margin-bottom: 0;
  }
}

.contributor-image {
  width: 6em;
  height: 6em;
  margin: 0 auto $margin-bottom;
  position: relative;
  img {border-radius: 100%;}
}

.contributor-bio {
  padding: $padding-base-vertical $padding-base-vertical 0;
  text-align: center;
  a { color: inherit;}
}

.contributor-title {
  margin-bottom: $padding-small-vertical;
}

.contributor-long-bio {
}

.contributor-links {
  margin-top: $padding-base-vertical;
  a { padding: 0 $padding-base-vertical;}
  .fab, .fa { 
    font-size: $btn-icon-font-size-lg;
    color: $danger-color-opacity;
    transition: color 300ms ease-in-out;
    &:hover {
      color: $primary-color;
    }
  }
}


// Set size of the contributors containers
.contributor-large {
  height: 19em;
  flex: 0 0 30%;
  @media screen and (max-width: $screen-lg-min) { 
    flex: 0 0 50%;
  }
  @media screen and (max-width: $screen-sm-min) { 
    flex: 0 0 100%;
  }
}

.contributor-small {  
  height: 15em;
  flex: 0 0 15em;
  font-size: $font-size-small;
  @media screen and (max-width: $screen-sm-min) { 
    flex: 0 0 50%;
  }
}

// Contributors as seen on mobile
@media screen and (max-width: $screen-md-min) { 
  .contributor-large,
  .contributor-small {
    height: auto;
    .front,.back {
      height: auto !important;
      transform: none !important;
      position: static !important;
    }
    
    & .front .contributor-image { visibility: hidden;}
    & .front .contributor-links { display: none;}
    & .back .contributor-image { 
      display: block;
      position: absolute;
      top: 22px;
      left: 0;
      right: 0;
    }
  }

}


// animated flip of a container on mouseover/touch
.flip-container {
  position: relative;

  .front, .back {
    width: 100%;
    height: 100%;
    overflow:hidden;
    backface-visibility:hidden;
    position:absolute;
    transition: transform .4s cubic-bezier(0.455, 0.030, 0.515, 0.955);
  }
  .back{
    transform:rotateY(180deg);
  }
  .front{
    background: $white-color;
  }
  
  &:hover > .front,
  &:focus > .front {
    transform: perspective(600px) rotateY(-180deg);
    cursor: default;
  }
  &:hover > .back,
  &:focus > .back {
    transform: perspective(600px) rotateY(0deg);
    cursor: default;
  }
}





/* govern == Governance */
.govern {
  background-size: 70% auto;
  background-image: url("../img/governance.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #ebebeb;
  background-position: center center;
  
  
  .info { 
    max-width: none;
    text-align: left;
    padding-top: 0;
    .info-title { 
      margin-top: $margin-base-vertical;
      @extend .h6;
    }
    .description {
      background-color: $opacity-8;
      border-radius: $border-radius-large;
      padding: $padding-base-vertical $padding-base-horizontal;
    }
    p { font-size: $font-size-base;}
  }
}


.access_to_credit{
    overflow: hidden;
    position: relative;

    .title{
        color: #FFFFFF;
    }

    .info-title{
        color: #FFFFFF;
    }
    .info-horizontal{
        padding: 15px 0 0;

        &:first-child{
            padding-top: 45px;
        }
    }
   
    position: relative;
    &:after{
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
        background-color: rgba(0,0,0,.5);
    }

    .image-container{
        max-width: 1200px;
        position: relative;
        height: 550px;
        margin-top: 58px;

        img{
            max-width: 1200px;
            left: 100px;
            top: 0;
            height: 100%;
            position: absolute;
        }
    }

    @media screen and (max-width: $screen-md-min) {
        .image-container img{
            left: 0px;
            top: 0;
            max-width: inherit;
            width: 100%;
            height: auto;
            position: relative;
        }
    }

    &:after{
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: rgba(0,0,0,.5);
    }

    /* NOTE2DH background color alpha=0.5 was the thing that was missing */

    .container,
    .container-fluid,
    .title,
    .description{
        position: relative;
        z-index: 2;
    }

    .title{
        color: #FFFFFF;
    }

    .title + .description{
        margin-bottom: 70px;
    }
}

.inline-bullets {
  li {
      float:left;
      padding-left: 20px;
      padding-right: 40px;
  }
}

.custom_bullets {
  list-style: none;
  margin-left: 0;
  padding-left: 24px;
  text-indent: -24px;
  
  li { 
    margin-bottom: 1em;
    b { 
      @extend .highlight-underline-info;
    }
  }

  li:before {
    content: "+";
    padding-right: 0.5em;
    display: block;
    float: left;
    width: 24px;
    color: $danger-color-opacity;
    line-height: 24px;
    font-size: 36px;
  }
}





